body{
    margin: 0;
    padding: 0;
}

.info_div{
    display: grid;
    grid-template-columns: [start] 1fr [nr1] 1fr [nr2] 1fr [nr3] 1fr [nr4] 1fr [nr5] 1fr [nr6] 1fr [nr7] 1fr [nr8] 1fr [nr9] 1fr [nr10] 1fr [nr11] 1fr [nr12];  
    width: 100vw;
}

.data-farve_div{
    position: absolute;
    grid-column: start / nr12;
    height: 100vh;
    z-index: -1;
}

.data-farve{
    position: absolute;
    width: 25vw;
    height: 93vh;
    margin-top: -1vh;
}

.data-flag_div{
    width: 100%;
    grid-column: start / nr3;
    text-align: left;
    z-index: 100;
    text-align: center;
    margin-top: -2vh;
}

.data-flag{
    width: 16%;
}

.data-bynavn{
    height: 29px;
    font-family: 'raleway';
    font-weight: 300;
    color: white;
    margin-top: 15vh;
    grid-column: start / nr3;
    text-align: center;
}

.data-bybillede_div{
    margin-top: 15vh;
    position: absolute;
    width: 100%;
    text-align: center;
}

.data-bybillede{
    width: 47%;
}

.data-mangde_af_containere{
    margin-bottom: 13vh;
    text-align: center;
    font-family: 'raleway';
    font-size: 28px;
        margin-top: -1vh;
    
}

.data-faerdigdato{
        margin-bottom: 13vh;
    text-align: center;
    font-family: 'raleway';
    font-size: 26px;
    margin-top: -1vh;
    
}

.container_p{
    height: 20px;
    font-family: 'raleway';
    border-bottom: 1px solid black;
    border-bottom-color: #c0e0dd7d;
    border-width: 2px;
    text-align: center;
    font-size: 14px;
}



.data-beskrivelse2{
    grid-column: start / nr3;
    margin-top: -35vh;
    padding: 2vh;
    font-family: 'raleway';
    font-size: 13px;
    color: white;
}

.data-status{
    grid-column: start / nr3;
    margin-top: -46vh;
    text-align: center;
    font-family: 'raleway';
    color: white;
    margin-left: 5vh;
    margin-right: 5vh;
}

.status-tekst{
    height: 23px;
    border-bottom: white solid 2px;
    grid-column: start / nr3;
    margin-top: -50vh;
    text-align: center;
    font-family: 'raleway';
    color: white;
    margin-left: 5vh;
    margin-right: 5vh;
}

.partnere{
    display: grid;
    grid-template-columns: [start] 4fr [nr1] 4fr [nr2] 4fr [nr3];
    text-align: center;
    height: 15vh;
}

.data-partner1, .data-partner2, .data-partner3, .data-partner4, .data-partner5, .data-partner6{
    width: 70%;
}

html,
body {
   margin:0;
   padding:0;
   height:100vh;
}
container {
   min-height:100%;
   position:relative;
}

body {
   padding-bottom:50px;   /* Height of the footer */
}
footer {
    padding-top: 6vh;

}


/***************************HEADER start****************/

a {
    color: black;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    padding: 10px;
    margin-top: -2vh;
}

a:hover {
    /*    color: white;*/
    /*    border-bottom: 3px solid black;*/
    /*    text-shadow: 1px 1px 1px #00f5ff;*/
}

header {
    width: 101%;
    /*    background-color: #c0e0df7d;*/
    background-color: #c1e0f7;
    padding-top: 0vh;
    margin-top: 0vh;
    margin-left: -1vw;
}

header nav {
    text-align: right;
    top: 10%;
    padding: 10px;
    margin-left: 6%;
}

.urban_logo_sort {
    position: absolute;
    padding-bottom: 1vh;
    width: 6%;
    left: 0;
}

a.nav.student {
    color: red;
}

a.nav.contact {
    border-right: 1px solid black;
}

/* Underline From Center */

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: black;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}

.burger {
    cursor: pointer;
    cursor: pointer;
    background: rgba(255, 255, 255, 0);
    border: none;
    justify-self: end;
}

     }
    
ul {
   
    margin: 0;
    padding: 0;
}

ul img{
    top: 4.6%;
    visibility: hidden;
}

li {
    list-style: none;
    padding: 5px;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

nav {
    max-height: 0px;
    overflow: hidden;
    transition: 0.6s;
    background: #d1e5d8;
    color: #fff;
}

nav.show {
    max-height: 500px;
}

/* Rotate first bar */

.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */

.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */

.change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
}

/***************************HEADER slut****************/


/**********************FOOOOoOoOoOoOTER start**************/


.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #070617;
}
.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col h1 {

  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: rgba(255,255,255,0.2);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: #999999;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 40px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
margin-top: 3vh;
}

.footer .col ul li:hover {
  color: #ffffff;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}
.clearfix {
  clear: both;
}

.logobaby{
    margin-top: 8vh;
    margin-left: 6vw;
}

@media only screen and (min-width: 1280px) {
  .contain {
    width: 100vw;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
    .footer .col {
      width: 50%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}

@media screen and (min-width:768px) {
    .burger {
        display: none;
    }
    nav {
        max-height: 200px;
        text-align: center;
    }
    li {
        display: inline-block;
    }
    
    ul img{
    margin-top: -3vh;
    visibility: visible;
}
    
    a.nav.contact {
    border-right: 1px solid black;
}
    
    header nav {
        text-align: right;}
}



a {
    color: black;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 14px;
    padding: 10px;
    margin-top: -1vh;
}

a:hover {
    /*    color: white;*/
    /*    border-bottom: 3px solid black;*/
    /*    text-shadow: 1px 1px 1px #00f5ff;*/
}

header {
    
    width: 101%;
    /*    background-color: #c0e0df7d;*/
    background: #d1e5d8;
    padding-top: 0vh;
    margin-top: 0vh;
    margin-left: -1vw;
}

header nav {
    text-align: center;
    top: 0;
    padding: 10px;
    margin-left: 6%;
}

.urban_logo_sort {
    position: absolute;
    padding-bottom: 1vh;
    width: 6%;
    left: 0;
}

a.nav.student {
    color: red;
}

a.nav.contact {
    border-right: 0px;
}

/* Underline From Center */

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: black;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}


.single-ul{
    margin-top: -2vh;
    list-style: none;
    grid-column: nr9 / nr12;
}

.sing{
    margin-top: -2vh;
    display: block;
}