html,
body {
   margin:0;
   padding:0;
    width: 100vw;
    overflow-x: hidden;
    background-color: whitesmoke;
    z-index: -2;
}

.homepage{
    background-color: transparent;
}
container {
   min-height:100%;
   position:relative;
}



button:focus {outline:0;}


/***************************HEADER start****************/

a {
    color: #efefef;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 12px;
    padding: 10px;
    margin-top: -1vh;
}

a:hover {
    /*    color: white;*/
    /*    border-bottom: 3px solid black;*/
    /*    text-shadow: 1px 1px 1px #00f5ff;*/
}

header {
    
    width: 101%;
    background-color: #0e2d3c;
    background: #0e2d3c
    padding-top: 0vh;
    margin-top: 0vh;
    margin-left: -1vw;
}

header nav {
    text-align: center;
    top: 0;
    padding: 10px;
    margin-left: 6%;
}

.urban_logo_sort {
    position: absolute;
    padding-bottom: 1vh;
    width: 6%;
    left: 0;
}

a.nav.student {
    color: #cb2d2d;
}

a.nav.contact {
    border-right: 0px;
}

/* Underline From Center */

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #f8f8f8;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}

/***************************HEADER slut****************/


/**********************FOOOOoOoOoOoOTER start**************/


.footer_div{
    z-index: 1000;
    background-color: lightblue;
    width: 100vw;
    height: 50px;
}

/**********************FOOOOoOoOoOoOTER slut**************/

/*******************forside start***********************/

img.splash_forside {
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
}

.splash_logo {
    position: absolute;
    z-index: 10;
    width: 100%;
    text-align: center;
}

.splash_logo img {
    width: 40%;
}

button.knap_forside {
    position: relative;
    width: 100px;
    height: 40px;
    font-family: 'raleway' sans-serif;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid black;
    color: black;
    margin-left: 30px;
    font-size: 17px;
    z-index: 11;
    margin-top: 55vh;
    font-weight: 600;
}

button.knap_forside:hover {
    background-color: #88d1ee;
    border: none;
}

.knap {
    text-align: center;
}


/*******************forside slut***********************/



/******************sustanbility tekst start********************/


.TreD_tekst {
    margin-top: 10vh;
}

.telefondiv{
    width: 100%;
}

.telefon{
    width: 25%;
}


h2.TreD_h2 {
    font-size: 25px;
    margin-top: -5vh;
    margin-right: 10vh;
    margin-left: 20vh;
    font-family: 'lato';
    position: absolute;
    width: 80%;
    text-align: center;
    color: black;
    border-bottom: 0.3px solid #666666;
    line-height: 0.2em;
    font-family: 'raleway';
    font-weight: 400;
}

.TreD_h2_hej{
        font-size: 25px;
    margin-top: 5vh;
    margin-right: 10vh;
    margin-left: 20vh;
    margin-bottom: 20vh;
    font-family: 'lato';
    position: absolute;
    width: 80%;
    text-align: center;
    color: black;
    border-bottom: 0.3px solid #666666;
    line-height: 0.2em;
    font-family: 'raleway';
    font-weight: 400;
}

p.TreD_p {
    font-size: 15px;
    font-family: 'lato';
    text-align: center;
    width: 100%;
        font-family: 'raleway';
}


/******************Sustanbilty logo start*****************/

.logo_big,
.logo_niras,
.logo_miele,
.logo_qcells,
.logo_danfoss,
.logo_grundfos {
    width: 9%;
    margin-top: -10vh;
    position: absolute;
    margin-left: 66%;
}

.logo_big {
    opacity: 1;
}

.logo_miele {
    opacity: 0;
}

.logo_qcells {
    opacity: 0;
}

.logo_danfoss {
    opacity: 0;
}

.logo_grundfos {
    opacity: 0;
}

.logo_niras {
    opacity: 0;
}

.TreD-logo {
    
}


/******************Sustanbilty logo slut*****************/


/******************Sustanbilty gifvideo start*****************/

.TreD-1 {
    margin-top: 10vh;
    text-align: center;
    width: 100%;
}

.gif_big,
.gif_miele,
.gif_qcells,
.gif_danfoss,
.gif_grundfos {
    width: 30%;
    position: absolute;
    margin-top: 10vh;
    margin-left: -24vh;
}

.gif_big {
    opacity: 1;
    z-index: 1;
}

.gif_miele {
    opacity: 1;
    z-index: 1;
}

.gif_qcells {
    opacity: 1;
    z-index: 1;
}

.gif_danfoss {
    opacity: 1;
    z-index: 1;
}

.gif_grundfos {
    opacity: 1;
    z-index: 1;
}


/******************Sustanbilty gifvideo slut*****************/


/******************Sustanbilty knapper start*****************/

.TreD-2 {
    display: flex;
    width: 100vw;
    margin-top: -5vh;
    height: 50px;
    margin-left: -1vh;

}

.TreD-2 button {
    width: 100px;
    height: 40px;
    font-family: 'raleway';
    background-color: rgb(102, 195, 208);
    color: white;
    border: none;
    margin: 0.5vh;
}

.TreD-container-2 {
    margin-top: 60vh;
    position: absolute;
    height: 40px;
    margin-left: 28vw;

}


img.big_knap {
    width: 100%;
    text-align: center;
}

img.miele_knap {
    width: 100%;
    text-align: center;
}

img.qcells_knap {
    width: 100%;
    text-align: center;
}

img.danfoss_knap {
    width: 100%;
    text-align: center;
}

img.grundfos_knap {
    width: 100%;
    text-align: center;
}

.knap_grundfos {
}

img.niras_knap {
    width: 100%;
}

.niras_knap {
}



/******************Sustanbilty knapper slut*****************/


/******************Sustanbilty headlines start*****************/

.TreD-container-3 {
    padding-top: 0vh;
    padding-left: 10%;
    width: 50%;
}

.TreD_projects{
    margin-top: 5vh;
    margin-bottom: 3vh;
    text-align: center;
        font-size: 25px;
    margin-right: 10vh;
    margin-left: 20vh;
    font-family: 'lato';
    position: absolute;
    width: 80%;
    text-align: center;
    color: black;
    border-bottom: 0.3px solid #666666;
    line-height: 0.2em;
    font-family: 'raleway';
    font-weight: 400;
}

.TreD_teksts{
    text-align: center;
    margin-top: 8vh;
    margin-bottom: -6vh;
        font-family: 'raleway';
}

.TreD_projects{
    margin-top: -3vh;
}

.TreD-3 {
    width: 30vw;
}

.kort_container{
    margin-top: 10vh;
}

.TreD-3 p {
    margin-top: 0vh;
    position: absolute;
    margin-left: 60%;
    font-family: 'lato', sans-serif;
    font-size: 12px;
    margin-right: 11vh;
}

.TreD-3-kontakt{
    position: absolute;
    width: 12vw;
    text-align: center;
    margin-top: 0vh;
    position: relative;
    font-family: 'lato', sans-serif;
    font-size: 12px;
    margin-right: 11vh;
}

.kontakt_big{
    width: 100%;
    opacity: 1;
    position: absolute;
}

.kontakt_miele{
    width: 100%;
    opacity: 0;
    position: absolute;
}

.kontakt_qcells{
    width: 100%;
    opacity: 0;
    position: absolute;
}

.kontakt_danfoss{
    width: 100%;
    opacity: 0;
    position: absolute;
}

.kontakt_grundfos{
    width: 100%;
    opacity: 0;
    position: absolute;
}

.kontakt_niras{
    width: 100%;
    opacity: 0;
    position: absolute;
}

.tekst_miele {
    width: 25%;
    opacity: 0;
}

.tekst_qcells {
    opacity: 0;
}

.tekst_danfoss {
    opacity: 0;
}

.tekst_grundfos {
    opacity: 0;
}

.tekst_big {
    opacity: 1;
}

.tekst_niras {
    opacity: 0;
}

/*******************student start**********************/

.grid-container-students {
    width: 100vw;
    overflow:hidden;
    position: relative;
    display: block;
        text-align: center;
    /*    grid-gap: 10px;*/
}



img.student {
    width: 60%;
    margin-top: 20vh;
    padding: 15px;
    grid-column: start / slut;
}

p.studenttext {
    margin-top: 0vh;
    position: absolute;
    font-size: 15px;
    font-family: 'raleway';
    color: black;
    padding: 30px;
}

h2.studentheadline {
    margin-left: 29vh;
    margin-top: 20vh;
    font-size: 40px;
    font-family: 'raleway', sans-serif;
    color: #524f4f;
}

h3.studentheadline {
    margin-left: 29vh;
    font-size: 12px;
    font-family: 'raleway', sans-serif;
    color: #524f4f;
}

h4.studentheadline {
    font-size: 10px;
    font-family: 'lato';
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 9vh;
    font-family: Raleway;
    color: #666666;
    border-bottom: 0.3px solid #666666;
    line-height: 0.0em;
    grid-column: start / midt;
}

span {
    background: whitesmoke;
    padding: 0 10px;
}

button.knap_student {
    position: relative;
    width: 90px;
    height: 40px;
    font-family: 'helvetica neue', sans-serif;
    background-color: rgba(240, 65, 65, 0.71);
    color: white;
    border: none;
    font-size: 17px;
    margin-bottom: 3vh;
}

button.knap_student:hover {
    background-color: rgb(255, 0, 0);
}


/***********************student slut*********************/

/*student_ikoner slut*/

ul#studenthousing li {
    display: inline;
}

ul#studenthousing {
    margin-left: 20vh;
    margin-top: 4vh;
}

img.student_icons {
    width: 5%;
    padding: 0;
    margin-left: 9vh;
}

ul#studenthousing2 li {
    display: inline;
}

ul#studenthousing2 {
    margin-left: 20vh;
    margin-top: 4vh;
}

ul#studenthousing2 {
    margin-left: 20vh;
    margin-top: 4vh;
    margin-top: -20px;
}

p.student_icons {
    text-align: center;
    padding: 0;
    margin-left: 8vh;
    font-family: 'raleway', light;
    font-size: 15px;
    margin-top: 0vh;
}

img.map_pin {
    width: 5%;
}

.ikoner{
    grid-column: start / slut;
    display: block;
}


/****************student slut****************************/



.single_a {
    background: transparent;
}

ul {
    list-style: none;
}

.kort_container {
    display: grid;
    grid-template-columns: [start] 1fr [nr1] 1fr [nr2] 1fr [nr3] 1fr [nr4] 1fr [nr5] 1fr [nr6] 1fr [nr7] 1fr [nr8] 1fr [nr9] 1fr [nr10] 1fr [nr11] 1fr [nr12] 1fr [nr13] 1fr [nr14] 1fr [nr15] 1fr [nr16] 1fr [nr17] 1fr [nr18] 1fr [nr19] 1fr [nr20] 1fr [nr21] 1fr [nr22] 1fr [nr23] 1fr [nr24];
    grid-template-rows: [start] 1fr [nr1] 1fr [nr2] 1fr [nr3] 1fr [nr4] 1fr [nr5] 1fr [nr6] 1fr [nr7] 1fr [nr8] 1fr [nr9] 1fr [nr10] 1fr [nr11] 1fr [nr12] 1fr [nr13] 1fr [nr14] 1fr [nr15] 1fr [nr16] 1fr [nr17] 1fr [nr18] 1fr [nr19] 1fr [nr20] 1fr [nr21] 1fr [nr22] 1fr [nr23] 1fr [nr24];
    width: 100vw;
}

.kort_div {
    grid-column: nr5 / nr19;
    grid-row: nr1 / nr24;
}

.korteffekt {
    filter: drop-shadow(0 0 1px #262626);
    z-index: 0;
}

.kort_div img {
    width: 100%;
    object-fit: cover;
}

.pin1 {
    pointer-events: none;
    width: 10%;
    position: absolute;
    left: 36.2%;
    margin-top: 8.7%;
    z-index: 10;
}

.pin1_tekst {
    background-color: #ECDB6D;
    width: 100px;
    height: 0px;
    pointer-events: none;
    position: absolute;
    left: 33.7%;
    margin-top: 13%;
    overflow: hidden;
    transition: 0.3s ease-in;
    z-index: 10;
}

.pin1_tekst_p {
    width: 100%;
    position: absolute;
    margin-top: -37%;
    text-align: center;
    color: white;
    font-family: 'raleway';
    font-weight: 400;
    z-index: 11;
    margin-top: 1vh;
    overflow: hidden;
}

.pin1_tekst img {
    width: 100%;
}

.pin2_tekst {
    background-color: #D5E9EB;
    width: 100px;
    height: 0px;
    pointer-events: none;
    position: absolute;
    left: 50%;
    margin-top: 10%;
    overflow: hidden;
    transition: 0.3s ease-in;
    filter: drop-shadow(3px 1px 4px darkgray);
    z-index: 10;
}

.pin3_tekst {
    width: 100px;
    height: 0px;
    pointer-events: none;
    position: absolute;
    left: 52%;
    margin-top: 6%;
    background-color: #486FA1;
    overflow: hidden;
    transition: 0.3s ease-in;
    z-index: 10;
}

.pin4_tekst {
    width: 100px;
    height: 0px;
    pointer-events: none;
    position: absolute;
    left: 45%;
    margin-top: 13%;
    background-color: #D55F55;
    overflow: hidden;
    transition: 0.3s ease-in;
    filter: drop-shadow(3px 2px 5px darkgray);
    z-index: 10;
}

.pin2 {
    pointer-events: none;
    width: 10%;
    position: absolute;
    left: 49.5%;
    margin-top: 6.6%;
    z-index: 10;
}

.pin3 {
    pointer-events: none;
    width: 10%;
    position: absolute;
    left: 49.9%;
    margin-top: 4.5%;
    z-index: 9;
}

.pin4 {
    pointer-events: none;
    width: 10%;
    position: absolute;
    left: 48.5%;
    margin-top: 8.8%;
    z-index: 10;
}

.pin1 img,
.pin2 img,
.pin3 img,
.pin4 img {
    pointer-events: all;
    width: 20%;
    filter: drop-shadow(3px 1px 4px #575757);
}

.billede_paris {
    filter: drop-shadow(3px 1px 4px darkgray);
}

.grid-container {
    display: grid;
    grid-template-columns: [start] 6fr [midt] 6fr [slut];
    width: 90vw;
}

.template-container {}

#eventscontainer {
    display: grid;
    grid-template-columns: [start] 6fr [midt] 6fr [slut];
}

.wtf {
    /*    border: 1px solid black;*/
    height: 40vh;
    overflow: hidden;
    /*
    display: grid;
    grid-template-columns: [start] 2fr [nr1] 2fr [nr2] 2fr [nr3] 2fr [nr4] 2fr [nr5] 2fr [nr6];
*/
    margin-bottom: 8%;
    text-align: center;
}

.wtf p {
    font-family: 'raleway';
    font-size: 13px;
}

.wtf h2 {
    font-family: 'raleway';
    font-weight: 500;
}

.template-ul {
    overflow: hidden;
    padding: 10vh;

}

.data-bynavn {
    grid-column: start / nr6;
    position: absolute;
    z-index: 10;
    width: 100%;
    top: 47%;
    font-size: 14px;
    color: white;
}

.data-flag_div {
    grid-column: start / nr6;
}

.data-flag {
    position: absolute;
    z-index: 10;
    width: 7.5%;
    left: 46.6%;
    top: 65%;
}

.data-farve_div {
    position: absolute;
    z-index: 8;
    width: 90%;
    left: 5%;
    height: 300px;
    overflow: hidden;
}

.data-logo_div {
    position: absolute;
    z-index: 10;
    margin-top: 5%;
}

.data-logo {
    width: 45%;
}

.data-farve {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.data-farve_div2 {
    position: absolute;
    z-index: 8;
    width: 200%;
    height: 150%;
    overflow: hidden;
    margin-top: -30%;
    margin-left: -100%;
}

.data-farve2 {
    position: absolute;
    width: 100%;
    height: 230%;
    object-fit: cover;
}

.data-bybillede {
    position: absolute;
    width: 30%;
    filter: grayscale(100%) opacity(0%) brightness(40%);
    z-index: 10;
}

.data-bybillede p{
    padding-left: 10vw;
}

.data-bybillede_div {
    grid-column: start / nr12;
    margin-top: -12vh;
}

.data-bybillede_div p{
    padding: 20vh;
}

p img{
    max-width: 200px;
}

.data-beskrivelse1 {
    position: absolute;
    grid-column: start / nr6;
    margin: 5vh;
    margin-top: 6vh;
    z-index: 20;
    color: white;
}

.data-mangde_af_containere {
    display: none;
}

.data-beskrivelse2 {
    display: none;
}

.linktosingle {
    grid-column: nr5 / nr6;
}

.linkdiv {
    position: absolute;
    margin-top: 27vh;
    text-align: center;
    width: 100%;
}

.button1 {
    position: relative;
    font-family: 'raleway';
    font-size: 15px;
    z-index: 100;
    padding: 20px;
    background-color: rgba(172, 172, 172, 0);
    border: 3px white solid;
    color: white;
    margin-top: -5vh;
}

.button1:hover {
    background-color: rgba(255, 255, 255, 0.34);
    filter:brightness(10px);
    transition: 0.3s;
    
}

.data-faerdigdato {
    font-weight: 800;
    margin-bottom: 2vh;
    width: 100%;
    position: absolute;
    grid-column: start / nr6;
    text-align: center;
    z-index: 102220;
    font-size: 24px;
    color: white;
}


/* entire container, keeps perspective */

.flip-container {
    perspective: 1000px;
}


/* flip the pane when hovered */

.flip-container:hover .flipper,
.flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
    width: 100%;
    height: 300px;
}


/* flip speed goes here */

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}


/* hide back of pane during swap */

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}


/* front pane, placed above back */

.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}


/* back, initially hidden pane */

.back {
    transform: rotateY(180deg);
}


.view_h2{
        font-size: 25px;
    margin-right: 10vh;
    margin-left: 20vh;
    margin-top: -5vh;
    font-family: 'lato';
    position: absolute;
    width: 80%;
    text-align: center;
    color: black;
    border-bottom: 0.3px solid #666666;
    line-height: 0.2em;
    font-family: 'raleway';
    font-weight: 400;
}

.view_p{
    margin-top: 10vh;
    padding-left: 10vw;
    padding-right: 10vw;
    font-family: 'raleway';
    text-align: center;
}

.container_view{
    width: 80vw;
    margin-left: 10vw;
    padding: 0;
    display: grid;
    grid-template-columns: [start] 4fr [midt] 4fr [midt2] 4fr [slut];
    grid-gap: 15px;
}

.column1{

}

.column1 img{
    max-width: 100%;
}

.column2{

}

.column2 img{
    max-width: 100%;
}


.column3{
        width: 26,666vw;

}

.column3 img{
    max-width: 100%;
}


.thumbnail {
  max-width: 100%;
}

.lightbox {
	display: none;
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox img {
	/** Pad the lightbox image */
	max-width: 90%;
	max-height: 80%;
	margin-top: 2%;
}

.lightbox:target {
	/** Remove default browser outline */
	outline: none;

	/** Unhide lightbox **/
	display: block;
}


.contact_h2{
    font-size: 25px;
    margin-right: 10vh;
    margin-left: 20vh;
    margin-top: -5vh;
    font-family: 'lato';
    position: absolute;
    width: 80%;
    text-align: center;
    color: black;
    border-bottom: 0.3px solid #666666;
    line-height: 0.2em;
    font-family: 'raleway';
    font-weight: 400;
}

.contact_p{
        margin-top: 10vh;
    padding-left: 10vw;
    padding-right: 10vw;
    font-family: 'raleway';
    text-align: center;
}

#contact {width:100%; height:100%; margin 0 auto; background: rgba(221, 221, 221, 0); }

.container {width:90vw; height:auto; margin: 0 auto; padding: 50px 0; text-align: center;}

#contact .container form input,
#contact .container form textarea {
	width:97.4%;
	height:30px;
	padding:5px 10px;
	font-size: 12px;
	color:#999;
	letter-spacing:1px;
	background: #FFF;
	border:2px solid #d6d6d6;
	margin-bottom:25px;
  -webkit-transition:all .1s ease-in-out;
	-moz-transition:all .1s ease-in-out;
	-ms-transition:all .1s ease-in-out;
	-o-transition:all .1s ease-in-out;
	transition:all .1s ease-in-out;}

#contact .container form input:focus,
#contact .container form textarea:focus {
	border:2px solid #dd4545;
	color:#999;}

#contact .container form textarea {
	height:150px;}

#contact .container form .submit {
	padding:5px 10px;
	font-size: 12px;
	letter-spacing:1px;
	background:#dd4545;
	height:40px;
	text-transform:uppercase;
	letter-spacing:1px;
	color:#FFF;
	border:2px solid #b43838;
  -webkit-transition:all .1s ease-in-out;
	-moz-transition:all .1s ease-in-out;
	-ms-transition:all .1s ease-in-out;
	-o-transition:all .1s ease-in-out;
	transition:all .1s ease-in-out;}

#contact .container form .submit:hover {
	color:#FFF;
	border:2px solid #dd4545;
	background: #b43838;
	cursor:pointer;}

#contact .container form .required {
	color:#b43838;}

.downloadb{
    border: none;
    background-color: lightgreen;
    color: white;
    height: 30px;
}


.yousofukinpreciouswhenusmiiiile{
    display: grid;
    grid-template-columns: [start] 6fr [midt] 6fr [slut];
}

.contact0{
    font-family: 'raleway';
        font-size: 13px;
}

.contact0 h2{
    text-decoration: underline;
    line-height: 16px;
}

.fuckingfooter{
    width: 100vw;
    overflow: hidden;
}

#theteam_container{
    margin-top: 0vh;
    opacity: 1;
    width: 80vw;
    margin-left: 20vw;
    display: grid;
    grid-template-columns: [start] 2fr [midt] 2fr [midt2] 2fr [midt3] 2fr [midt4] 2fr [slut];
    grid-template-rows: [start] 6fr [midt] 6fr [slut];
}

.person1{
    width: 15vw;
    height: 40vh;
    text-align: center;
}

.person1 img{
    width: 70%;
}


.person1, .person2, .person3, .person4, .person5{
    margin-top: 15vh;
}


.person1_p{
    font-family: 'raleway';
    font-size: 10px;
}

.person1_navn{
        font-family: 'raleway';
        font-weight: 200;
        text-decoration: overline;
}

.person1_h2{
        font-family: 'raleway';
    font-weight: 400;
}


#vision_container{
        grid-column: midt / slut;
    opacity: 1;
    margin-top: -40vh;
    opacity: 1;
    width: 80vw;
    margin-left: 20vw;
    text-align: center;
}

.vision_img{
    margin-top: 14vh;
    width: 50%;
    margin-bottom: -15vh;
}

.vision_p, .visionp2{
    font-family: 'raleway';
    font-weight: 300;
    padding: 10vw;
}

.vision_h2{
    font-family: 'raleway';
    font-weight: 400;
}




#awards_container{
    height: 80vh;
        grid-column: midt / slut;
    opacity: 1;
    margin-top: 0vh;
    opacity: 1;
    width: 80vw;
    margin-left: 20vw;
    text-align: center;
    align-content: center;
    align-items: baseline;
    display: grid;
    grid-template-columns: [start] 4fr [midt] 4fr [midt2] 4fr [slut];
    margin-bottom: 5vh;
}

#awards_container img{
    width: 50%;
}

.award1{
    margin-top: 14vh;
    text-align: center;
}



#idea_container{
    grid-column: midt / slut;
    opacity: 1;
    margin-top: 17vh;
    opacity: 1;
    width: 80vw;
    margin-left: 20vw;
    text-align: center;
}

.idea_container h2{
    width: 100%;
}

.idea_img{
    margin-top: 15vh;
    width: 40%;
}

.billede-div{
    text-align: center;
}

.idea_p{
    text-align: center;
    padding: 2vw;
    margin: 10vh;
    font-family: 'raleway';
    font-size: 15px;
}

#press_container{
        grid-column: midt / slut;
    opacity: 1;
    margin-top: 0vh;
    opacity: 1;
    width: 80vw;
    height: 80vh;
    margin-left: 20vw;
    text-align: center;
    display: grid;
    grid-template-columns: [start] 6fr [midt] 6fr [slut];
}

.press_p{
    grid-column: start / midt;
    padding: 5vw;
    font-family: 'raleway';
    font-size: 15px;
}

.press_p2{
    grid-column: midt / slut;
    padding: 5vw;
        font-family: 'raleway';
    font-size: 15px;
}


#about1, #about2, #about3, #about4, #about5{
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.aboutus_h2{
    grid-column: midt / slut;
    font-size: 25px;
    margin-top: 5vh;
    font-family: 'lato';
    position: absolute;
    width: 80%;
    text-align: center;
    color: black;
    border-bottom: 0.3px solid #666666;
    line-height: 0.2em;
    font-family: 'raleway';
    font-weight: 400;
}

.theteam{
    border-bottom: 1.5px solid #a22626;
}

.vissionandvalues{
    border-bottom: 1.5px solid rgb(255, 243, 103);
}

.awards{
    border-bottom: 1.5px solid rgb(52, 80, 196);
}

.award1_p{
    font-family: 'raleway';
    font-size: 14px;
}

.idea{
    border-bottom: 1.5px solid rgb(159, 206, 202);
}

.press{
    border-bottom: 1.5px solid rgb(242, 234, 190);
}

.theteam_p{
    width: 80%;
    position: absolute;
    grid-column: start / slut;
    margin-top: 10vh;
    text-align: center;
    font-family: 'raleway';
}

.valg{
    width: 20vw;
}

img.about_icon_1 {
    width: 12%;
}

.about_icon_1_div {
    margin-top: 7vh;
    position: absolute;
    width: 100%;
    text-align: center;
}

.icon_text1 {
    margin-top: -2vh;
}

img.about_icon_2 {
    width: 12%;
}

.about_icon_2_div {
    margin-top: 4vh;
    position: absolute;
    width: 100%;
    text-align: center;
}

.icon_text2 {
    margin-top: -6vh;
}

img.about_icon_3 {
    margin-top: 4vh;
    width: 23%;
}

.about_icon_3_div {
    position: absolute;
    width: 100%;
    text-align: center;
}

.icon_text3 {
    margin-top: -8vh;
}

img.about_icon_4 {
    width: 12%;
}

.about_icon_4_div {
    margin-top: 0vh;
    position: absolute;
    width: 100%;
    text-align: center;
}

.icon_text4 {
}

img.about_icon_5 {
    width: 14%;
}

.about_icon_5_div {
    margin-top: 4vh;
    position: absolute;
    width: 100%;
    text-align: center;
}

.icon_text5 {
}

.section_about {
    position: fixed;
    filter:grayscale(30%);
}

.grid-container-about {
    display: block;
    position: fixed;
    grid-template-columns: [start] 2fr [midt] 2fr [midt2] 2fr [midt3] 2fr [midt4] 2fr [slut];
    width: 20%;
    margin-top: 15vh;
    margin-left: 5vh;
}

.grid-container-about button{
    border: none;
}

.grid-item-about1 {
    padding-top: 1vh;
    background-color: #DB5047;
    height: 5vh;
    width: 10vw;
}

.grid-item-about2 {
        padding-top: 1vh;
    background-color: #FDE63A;
    height: 5vh;
    width:10vw;
}

.grid-item-about3 {
        padding-top: 1vh;
    background-color: #4D7ABF;
    height: 5vh;
    width: 10vw;
}

.grid-item-about4 {
        padding-top: 1vh;
    grid-column: midt3 / midt4;
    background-color: #C8E5F5;
    height: 5vh;
    width: 10vw;
    z-index: 1000;
}

.grid-item-about5 {
        padding-top: 1vh;
    grid-column: midt4 / slut;
    background-color: #F6E8C2;
    height: 5vh;
    width: 10vw;
    position: relative;
}



.grid-item-about1:hover {
    background-color: rgba(250, 18, 3, 0.7);
}

.grid-item-about2:hover {
    background-color: rgba(255, 235, 0, 0.88);
}

.grid-item-about3:hover {
    background-color: rgba(29, 118, 253, 0.88);
}

.grid-item-about4:hover {
    background-color: rgb(177, 231, 247);
}

.grid-item-about5:hover {
    background-color: rgba(244, 219, 153, 0.83);
}




/*headlines start*/

h2.about_headline_1 {
    text-align: center;
    font-family: 'raleway';
    color: white;
    font-size: 14px;
    font-weight: 300;
    width: 100%;
    height: 100%;
    margin-top: 3vh;
}

h2.about_headline_2 {
    text-align: center;
    font-family: 'raleway';
    color: white;
    font-size: 14px;
    font-weight: 300;
    margin-top: 45px;
    width: 100%;
    height: 100%;
    margin-top: 7.3vh;
    z-index: 10;
}

h2.about_headline_3 {
    text-align: center;
    font-family: 'raleway';
    color: white;
    font-size: 14px;
    font-weight: 300;
    margin-top: 60px;
    margin-top: 9vh;
}

h2.about_headline_4 {
    text-align: center;
    font-family: 'raleway';
    color: white;
    font-size: 14px;
    font-weight: 300;
    margin-top: 1.4vh;
}

h2.about_headline_5 {
    text-align: center;
    font-family: 'raleway';
    color: white;
    font-size: 14px;
    font-weight: 300;
    margin-top: 0;
    margin-top: 1.4vh;
}


/*headlines slut*/


/*icon start*/

img.about_icon_1 {
    width: 12%;
}

.about_icon_1_div {
    margin-top: 0vh;
    position: absolute;
    width: 100%;
    text-align: center;
}

.icon_text1 {
    margin-top: -2vh;
}

img.about_icon_2 {
    width: 12%;
}

.about_icon_2_div {
    margin-top: 4vh;
    position: absolute;
    width: 100%;
    text-align: center;
}

.icon_text2 {
    margin-top: -6vh;
}

img.about_icon_3 {
    margin-top: 4vh;
    width: 23%;
}

.about_icon_3_div {
    position: absolute;
    width: 100%;
    text-align: center;
}

.icon_text3 {
    margin-top: -8vh;
}

img.about_icon_4 {
    width: 12%;
}

.about_icon_4_div {
    margin-top: 3vh;
    position: absolute;
    width: 100%;
    text-align: center;
}

.icon_text4 {
}

img.about_icon_5 {
    width: 14%;
}

.about_icon_5_div {
    margin-top: 4vh;
    position: absolute;
    width: 100%;
    text-align: center;
}

.burger {
    cursor: pointer;
    cursor: pointer;
    background: rgba(255, 255, 255, 0);
    border: none;
    justify-self: end;
}

     }
    
ul {
   
    margin: 0;
    padding: 0;
}

ul img{
    top: 4.6%;
}

li {
    list-style: none;
    padding: 5px;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #ebebeb;
    margin: 6px 0;
    transition: 0.4s;
}

nav {
    max-height: 0px;
    overflow: hidden;
    transition: 0.6s;
    background: #0e2d3c;
    color: #fff;
/*    box-shadow: 8px 5px 4px rgba(33, 247, 230, 0.74);*/
/*    filter:drop-shadow(10px 1px 1px black);*/
}

nav.show {
    max-height: 500px;
}

/* Rotate first bar */

.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */

.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */

.change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
}

.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #070617;
}
.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col h1 {

  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: rgba(255,255,255,0.2);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: #c1c1c1;
  font-size: 12px;
  font-family: 'raleway';
  font-weight: 200;
  padding: 5px 40px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}

.footer a{
    visibility: visible;!important
    font-family: inherit;
    margin-left: -0.6vw;
    z-index: 100;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
margin-top: 3vh;
}

.footer .col ul li:hover {
  color: #ffffff;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}
.clearfix {
  clear: both;
}

    .urban_logo_sort{
        display: none;
    }

.logobaby{
    margin-top: 8vh;
    margin-left: 6vw;
}

@media only screen and (min-width: 1280px) {
  .contain {
    width: 100vw;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
    .footer .col {
      width: 50%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}

@media screen and (min-width:768px) {
    .burger {
        display: none;
    }
    nav {
        max-height: 200px;
        text-align: center;
    }
    li {
        display: inline-block;
    }
    
    ul img{
    margin-top: -3vh;
    visibility: visible;
}
    
    a.nav.contact {
    border-right: 1px solid #f2f2f2;
}
    
    header nav {
        text-align: right;}
    
        .urban_logo_sort{
        display: block;
    }
}





.video-background{
 
    float: none;
    clear: both;
    width: 100vw;
    height: 120vh;
    background-color: white;
    position: absolute;
    background-position: 100% 400%;
    overflow: hidden;

    top: 0;
    left: 0;
    z-index: -1;
    
}

.video-background iframe {
    position: absolute;
    top: 0;
    left: -10%;
    object-fit: fill;
    
}

.iframe1{
/*
    left: -10vw;
    position: absolute;
    top: 0;
*/
/*    object-fit: cover;*/
/*
    background-size: cover;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    left: -0vw;
    
*/
     padding: 0;
    border: 0;
    outline: 0;

}

.fuckdetherlort{
    
}


#loader1{
    width: 17%;
    height: 20%;
   top: 40%;
    left: 41.5%;
    position: absolute;
}

#frameWrap{
    pointer-events: none;
    opacity: 0;
    height: 120vh;
    width: 102vw;
    margin-top: -20vh;
    margin-left: -2vh;
    background-color: white;
    z-index: 999999;
    
    animation-name: fadeOut;
    animation-timing-function: ease-in;
    animation-duration: 4000ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes fadeOut{
    0%{
        opacity: 1;
    }
    
    85%{
        opacity: 1;
    }
    
    100%{
        opacity: 0;
    }
}


img.splash_forside {
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
}

.splash_logo {
    pointer-events: none;
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 20vh;
}

.splash_logo2 {
    position: absolute;
    pointer-events: none;
    width: 100%;
    text-align: center;
    margin-top: 20vh;
    z-index: 100;
    
    animation-name: fadeOut;
    animation-timing-function: ease-in;
    animation-duration: 4000ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.splash_logo img {
    width: 30%;
}

.splash_logo2 img {
    width: 30%;
}

.knap{
    width: 100vw;
    position: absolute;
    text-align: center;
    margin-top: 0vh;
}

button.knap_forside {
    width: 18vw;
    height: 10vh;
    font-family: 'raleway' sans-serif;
    background-color: rgba(255, 255, 255, 0);
    color: white;!important
    font-size: 10px;
    z-index: 11;
    font-weight: 100;
    margin-top: -66vh;
    border: none;
    animation-name: fadeIn;
    animation-timing-function: ease-in;
    animation-duration: 4000ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
        border: 2px solid white;
}

.forside_h2{
    font-size: 14px;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    
    85%{
        opacity: 0;
    }
    
    100%{
        opacity: 1;
    }
}

.knap {
    width: 100%;
    margin-left: -1vh;
    padding: 0;
}

.sustanbilty{
    height: 100vh;
}

.downloadb{
    margin-bottom: 4vh;
}




/****************IPAD QUE***************/
/*****************IPAD QUE***************/
/******************IPAD QUE**************/
@media only screen and (max-width: 1000px)  {

.video-background{
 
    float: none;
    clear: both;
    width: 100%;
    height: 100
    object-fit: cover;
    background-position: 200% 400%;
    margin: 0;
   
    margin-top: 10vh;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    z-index: -1;
    text-align: left;
    left: 0;

    
}

.video-background iframe1 {
    width: 100%;
    height: 100%
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    
}
    
    a{
        font-size: 10px;
    }
    
    header{
        padding: 0;
    }
    
    ul{
        padding: 0;
    }

    .splash_logo, .splash_logo2{
        margin-top: 20vh;
    }
    
    .kort_container{
        width: 100vw;
    }
    
    .kort_div {
    grid-column: nr2 / nr22;
    grid-row: nr1 / nr24;
}
    .pin1 {
    left: 31.2%;
    margin-top: 14.7%;
}
    
    .pin2 {
    left: 49.7%;
    margin-top: 11.6%;
}

.pin3 {
    left: 50.5%;
    margin-top: 9.5%;
}

.pin4 {
    left: 48.3%;
    margin-top: 14.8%;
}
    
    
.pin1_tekst {
    left: 25.7%;
    margin-top: 4.5%;
}

    .pin2_tekst {
    left: 35%;
    margin-top: 4%;
}

.pin3_tekst {
    left: 37%;
    margin-top: 2%;
}

.pin4_tekst {
    left: 35%;
    margin-top: 13%;
}
    
    .TreD_projects{
    margin-top: -4vh;
    text-align: inherit;
        font-size: 20px;
    margin-right: 10vh;
        margin-left: 0vh;
    font-family: 'lato';
    position: absolute;
    width: 100%;
    text-align: center;
    color: black;
    border-bottom: 0.3px solid #666666;
    line-height: 0.2em;
    font-family: 'raleway';
    font-weight: 400;
}
    
    .view_h2{
    font-size: 25px;
    margin-right: 0vh;
    margin-left: 0vh;
    margin-top: -5vh;
    font-family: 'lato';
    position: absolute;
    width: 100%;
    text-align: center;
    color: black;
    border-bottom: 0.3px solid #666666;
    line-height: 0.2em;
    font-family: 'raleway';
    font-weight: 400;
        }
    
    h2.TreD_h2 {
    font-size: 25px;
    margin-top: -5vh;
    margin-right: 0vh;
    margin-left: 0vh;
    font-family: 'lato';
    position: absolute;
    width: 100%;
    text-align: center;
    color: black;
    border-bottom: 0.3px solid #666666;
    line-height: 0.2em;
    font-family: 'raleway';
    font-weight: 400;
}
    
    .TreD-2 {
    display: flex;
    width: 100vw;
    margin-top: -5vh;
    height: 50px;
    margin-left: -20vh;

}
    
    .yousofukinpreciouswhenusmiiiile{
    display: block;
    grid-template-columns: [start] 12fr [slut];
}
    
    .contact_h2{
    font-size: 25px;
    margin-right: 10vh;
    margin-left: 0vh;
    margin-top: -5vh;
    font-family: 'lato';
    position: absolute;
    width: 100%;
    text-align: center;
    color: black;
    border-bottom: 0.3px solid #666666;
    line-height: 0.2em;
    font-family: 'raleway';
    font-weight: 400;
    }
    
    .contact0{
        grid-column: start / slut;
        margin: 0;
        padding: 0;
    }
    
    .contact1{
        grid-column: start / slut;
        max-width: 100vw;
        min-width: 90vw;
        margin: 0;
        padding: 0;
    }
    
    
    .grid-container-students {
    display: grid;
    grid-template-columns: [start] 12fr [slut];
    /*    grid-gap: 10px;*/
}
    
    .TreD_h2_hej{
        width: 100vw;
        margin-left: 0vh;
    }
    
    img.student {
    width: 90vw;
    align-content: center;
    padding: 20px;
    margin-left: 0vh;
}
    
    .studenterbillede{
        text-align: center;
    }
    
    .studentheadline{
        width: 100vw;
        margin-left: 0;
    }
    
    ul#studenthousing li {
    display: inline;
}

ul#studenthousing {
    width: 100vw;
    margin-left: -4vh;
    margin-top: 5vh;
}

img.student_icons {
    width: 5%;
    padding: 0;
    margin-left: 9vh;
}

ul#studenthousing2 li {
    display: inline;
}

ul#studenthousing2 {
    width: 100vw;
    margin-left: 0vh;
    margin-top: 5vh;
}

ul#studenthousing2 {
    width: 100vw;
    margin-left: -3vh;
    margin-top: -2vh;
}

p.student_icons {
    text-align: center;
    padding-right: 1vw;
    margin-left: 9vh;
    display: inline;
    font-family: 'lato', light;
    font-size: 6px;
}

img.map_pin {
    width: 5%;
}
    
    h4.studentheadline {
    margin-left: 0vh;
    font-size: 10px;
    font-family: 'lato';
    position: absolute;
    width: 100%;
    text-align: center;
    font-family: Raleway;
    color: #666666;
    border-bottom: 0.3px solid #666666;
    line-height: 0.2em;
}
    
    .grid-item1 {
    grid-column: start / slut;
    /*    border: 1px solid black;*/
    /*    background-color: #88d1ee;*/
    height: 80vh;
    width: 80vh;
    background-size: cover;
    object-fit: cover;
    width: 100vw;
    margin-top: 10vh;
}

.grid-item2 {
    grid-column: start / slut;
    /*    border: 1px solid black;*/
    height: 80vh;
    width: 80vh;
    font-family: 'raleway';
    margin-top: -10%;
}
    
    grid-item2 p{
        max-width: 90vw;
    }

    
p.studenttext {
    margin-top: -10vh;
    font-size: 12px;
    font-family: 'raleway';
    color: black;
    padding-right: 5vw;
}
    
    .fuckdether{
        width: 70vw;
        max-width: 70v%;!important
        text-align: center;
        padding-right: 40vw;
        margin-right: 10vw;
        overflow: hidden;
    }
    






}

/*****************IPAD SLUT**************/
/****************IPAD SLUT***************/
/***************IPAD SLUT****************/






/*****************MOBILE QUE*************/
/****************MOBILE QUE**************/
/***************MOBILE QUE***************/
@media only screen and (max-width: 670px)  {
    
    .TreD-container-3{
        text-align: center;
    }
    
    .TreD-1 {
    margin-top: 10vh;
    text-align: center;
    width: 100%;
}

.gif_big,
.gif_miele,
.gif_qcells,
.gif_danfoss,
.gif_grundfos {
    width: 78%;
    position: absolute;
    margin-top: 10vh;
    margin-left: -18vh;
}
    
    .logo_big,
.logo_niras,
.logo_miele,
.logo_qcells,
.logo_danfoss,
.logo_grundfos {
    width: 17%;
    margin-top: -7vh;
    position: absolute;
    margin-left: -17%;
}
    
        .TreD-2 {
    display: block;
    width: 100vw;
    margin-top: -5vh;
    height: 50px;
    margin-left: -10vh;

}
    
        .TreD-container-2 {
    margin-top: 60vh;
    position: absolute;
    height: 40px;
    margin-left: 28vw;

}
    
    .TreD-3 {
    width: 100vw;
}
    
    .TreD-container-3 {
    padding-top: 0vh;
    padding-left: 10%;
    width: 100%;
}
    
    .TreD-3-kontakt{
        display: none;
    }

.kort_container{
    margin-top: 10vh;
}

.TreD-3 p {
    margin-top: 0vh;
    margin-left: 0;
    position: absolute;
    font-family: 'lato', sans-serif;
    font-size: 10px;
    width: 83%;
}

    
.video-background iframe1 {
    margin-top: -3vh;
    width: 100%;
    height: 100%
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    
}

    button.knap_forside {
        width: 100vw;
        padding: 0;
        margin: 0;
        margin-top: -75vh;
        
    }
    
    .kort_container{
        display: none;
    }
    
    .TreD_teksts{
        padding: 20px;
    }
    

    
        .grid-container {
    display: grid;
    grid-template-columns: [start] 12fr [slut];
    width: 100%;
    margin-right: 0;
    margin-left: 0;
}
    #eventscontainer {
    display: grid;
    grid-template-columns: [start] 12fr [slut];
}
.template-ul {
    overflow: hidden;
    padding: 0vh;

}
    
    .grid-container-about {
    display: block;
    position: fixed;
    grid-template-columns: [start] 2fr [midt] 2fr [midt2] 2fr [midt3] 2fr [midt4] 2fr [slut];
    width: 20%;
    margin-top: 15vh;
    margin-left: -2vh;
}
    
    h2.about_headline_1, h2.about_headline_2, h2.about_headline_3, h2.about_headline_4, h2.about_headline_5{

    font-size: 7px;

}
    
    ul#studenthousing2 {
    display: none;
}
    
    #theteam_container{
    margin-top: 0vh;
    opacity: 1;
    width: 80vw;
    margin-left: 20vw;
    display: grid;
    grid-template-columns: [start] 6fr [midt] 6fr [slut];
    grid-template-rows: [start] 2fr [midt] 2fr [midt2] 2fr [midt3] 2fr [midt4] 2fr [slut];
}
    
    #theteam_container img{
        width: 150px;
    }
    
    .person1{
        width: 84%;
    }
    
    .vision_img{
    margin-top: 14vh;
    width: 80%;
    margin-bottom: -5vh;
}
    
    #awards_container img{
    width: 90%;
        margin-right: 2vh;
}
    
    #awards_container p{
        margin-right: 2vh;
    }
    
    .billede-div img{
        width: 90%;
        margin-right: 2vh;
    }
    
    
    
}
/***************MOBILE QUE***************/
/****************MOBILE QUE**************/
/*****************MOBILE QUE*************/